# auto-deployed via https://jenkins.bioai.eu/job/deploy-code-format
# on 2019-09-12
# from git-commit: 269bc64 Add QUIET flag to doxyfile
#
# Please submit changes at ssh://brainscales-r.kip.uni-heidelberg.de:29418/code-format

---
Language: Cpp
BasedOnStyle: Mozilla
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: true
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakConstructorInitializers: AfterColon
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
# Includes are sorted by paragraph, so one can use empty lines to
# enforce other sorting behavior.  The following groups and their order
# should however be considered as canon, with alphabetical sorting
# of lines within a group.
# 0. #include "something.h"
#    | main header for a source file
# 1. #include <algorithm>
#    #include <vector>
#    etc.
#    | system headers, e.g. standard library.
# 2. #include <boost/core.hpp>
#    #include <boost/functional/hash.hpp>
#    etc.
#    | boost should have its own group and not be interspersed with
#    | other system headers.
# 3. #include <yaml-cpp/yaml.h>
#    etc.
#    | other libraries searched via system include path.
# 3. #include "halbe/hal/Coordinate.h"
#    #include "sthal/HICANN.h"
#    etc.
#    | Includes from other projects should come before includes from
#    | the current project.
# 4. #include "marocco/placement/NeuronPlacement.h"
#    etc.
IncludeCategories:
  # standard library
  - Regex:           '^<[^/]+>$'
    Priority:        1
  - Regex:           '^<boost/'
    Priority:        2
  # other system headers
  - Regex:           '^<'
    Priority:        3
  # Group marocco headers after other local includes.
  - Regex:           '^"(py)?marocco/'
    Priority:        5
  - Regex:           '.*'
    Priority:        4
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PenaltyBreakBeforeFirstCallParameter: 1
Standard: Auto
TabWidth: 4
UseTab: ForIndentation
...
